{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/stylesheet.css')  }}" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

{% endblock %}

{% block body %}
    <div class="navbar_homepage">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"> <a href="{{ path('listerepas_homepage') }}">Accueil</a> </li>
                    <li> <a href="{{ path('liste_index') }}">Mes repas</a> </li>
                    <li> <a href="{{ path('invites_index') }}">Mes invités</a> </li>
                    <li> <a href="{{ path('creationplat_index') }}">Mes recettes</a> </li>
                </ul>
                <form class="navbar-form navbar-right inline-form">
                    <div class="form-group">
                        <input type="search" class="input-sm form-control" placeholder="Recherche">
                        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <img id="caro_image" src="{{ asset('assets/images/caro.png') }}" alt="caro" />

    <div class="header_menu">
        <img id="iconetoque" src="{{ asset('assets/images/iconetoque.png') }}" alt="iconetoque" />
        <h1>Mes Recettes</h1>
    </div>


    <table id="ingredients">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for creationplat in creationplats %}
            <tr>
                <td>{{ creationplat.nom }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('creationplat_show', { 'id': creationplat.id }) }}"><button type="button" class="btn btn-info">Afficher</button></a></a>
                        </li>
                        <li>
                            <a href="{{ path('creationplat_edit', { 'id': creationplat.id }) }}"><button type="button" class="btn btn-info glyphicon glyphicon-pencil">&nbsp;Editer</button></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li id="creer_plat">
            <a href="{{ path('creationplat_new') }}"><button type="button" class="btn btn-success">Create a new entry</button></a>
        </li>
    </ul>
{% endblock %}
