{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/stylesheet.css')  }}" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

{% endblock %}

{% block body %}
    <div class="navbar_homepage">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"> <a href="{{ path('listerepas_homepage') }}">Accueil</a> </li>
                    <li> <a href="{{ path('liste_index') }}">Mes repas</a> </li>
                    <li> <a href="">Mes invités</a> </li>
                    <li class="active"> <a href="{{ path('creationplat_index') }}">Mes recettes</a> </li>
                </ul>
                <form class="navbar-form navbar-right inline-form">
                    <div class="form-group">
                        <input type="search" class="input-sm form-control" placeholder="Recherche">
                        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <img id="caro_image" src="{{ asset('assets/images/caro.png') }}" alt="caro" />
    <h1>Creation Plats</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" class="btn btn-success" value="Créer" />

        <a href="{{ path('creationplat_index') }}"><button type="button" class="btn btn-info">Retour à la liste</button></a>
    {{ form_end(form) }}

{% endblock %}
