{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/stylesheet.css')  }}" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

{% endblock %}

{% block body %}
    <div class="navbar_homepage">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li> <a href="{{ path('listerepas_homepage') }}">Accueil</a> </li>
                    <li> <a href="{{ path('liste_index') }}">Mes repas</a> </li>
                    <li> <a href="">Mes invités</a> </li>
                    <li class="active"> <a href="{{ path('creationplat_index') }}">Mes recettes</a> </li>
                </ul>
                <form class="navbar-form navbar-right inline-form">
                    <div class="form-group">
                        <input type="search" class="input-sm form-control" placeholder="Recherche">
                        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
                    </div>
                </form>
            </div>
        </nav>
    </div>

    <div class="header_menu">
        <img id="iconetoque" src="{{ asset('assets/images/iconetoque.png') }}" alt="iconetoque" />
        <h1>Ma liste de Courses</h1>
    </div>

    <table>
        <tbody>

            <tr>

                <td>{{ creationplat.nom }}</td>
            </tr>
            <tr>

                <td>{{ creationplat.ingredient1 }}</td>
            </tr>
            <tr>

                <td>{{ creationplat.ingredients2 }}</td>
            </tr>
            <tr>

                <td>{{ creationplat.ingredient3 }}</td>
            </tr>
            <tr>

                <td>{{ creationplat.ingredient4 }}</td>
            </tr>
            <tr>

                <td>{{ creationplat.ingredient5 }}</td>
            </tr>
            <tr>

                <td>{{ creationplat.ingredient6 }}</td>
            </tr>
            <tr>

                <td>{{ creationplat.ingredient7 }}</td>
            </tr>
            <tr>

                <td>{{ creationplat.ingredient8 }}</td>
            </tr>
            <tr>

                <td>{{ creationplat.ingredient9 }}</td>
            </tr>
            <tr>

                <td>{{ creationplat.ingredient10 }}</td>
            </tr>
        </tbody>
    </table>

            {{ form_start(delete_form) }}
            <a href="{{ path('creationplat_index') }}"><button type="button" class="btn btn-info">Back to the list</button></a>

            <a href="{{ path('creationplat_edit', { 'id': creationplat.id }) }}"><button type="button" class="btn btn-success">Edit</button></a>

            <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}

{% endblock %}
