{% extends 'base.html.twig' %}
{% block body %}
    <div class="navbar_homepage">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li> <a href="{{ path('listerepas_homepage') }}">Accueil</a> </li>
                    <li class="active"> <a href="{{ path('liste_index') }}">Mes repas</a> </li>
                    <li> <a href="{{ path('invites_index') }}">Mes invités</a> </li>
                    <li> <a href="{{ path('creationplat_index') }}">Mes recettes</a> </li>
                </ul>
                <form class="navbar-form navbar-right inline-form">
                    <div class="form-group">
                        <input type="search" class="input-sm form-control" placeholder="Recherche">
                        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <img id="caro_image" src="{{ asset('assets/images/caro.png') }}" alt="caro" />
    <div class="header_menu">
        <img id="iconetoque" src="{{ asset('assets/images/iconetoque.png') }}" alt="iconetoque" />
        <h1>Mes Repas</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th class="colonne_nom">Thème du repas</th>
                <th class="colonne_nom">Date prévue</th>
                <th class="colonne_nom">Description</th>
                <th class="colonne_nom">Mes invités</th>
                <th class="colonne_nom">Appréciations</th>
                <th class="colonne_nom">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for liste in listes %}
            <tr>
                <td>{{ liste.nomRepas }}</td>
                <td>{% if liste.dateRepas %}{{ liste.dateRepas|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ liste.descriptionRepas }}</td>
                <td>{{ liste.inviteRepas }}</td>
                <td class="listeEtoile" onmouseout="GestionHover('A{{ liste.id }}', -1, '5')">
                    <ul>
                        <li>
                            <a href="javascript:ChoixSelection('A{{ liste.id }}', '1', '5')" onmouseover="GestionHover('A{{ liste.id }}', '1', '5')"><img id="staroff-A{{ liste.id }}-1" src= "{{ asset('assets/images/staroff.gif') }}" border="0" title="1" style="border-width: 0px; display: none;"><img id="staron-A{{ liste.id }}-1" src="{{ asset('assets/images/staron.gif') }}" border="0" title="1" style="border-width: 0px; display: block;"></a></li>
                        <li>
                            <a href="javascript:ChoixSelection('A{{ liste.id }}', '2', '5')" onmouseover="GestionHover('A{{ liste.id }}', '2', '5')"><img id="staroff-A{{ liste.id }}-2" src= "{{ asset('assets/images/staroff.gif') }}" border="0" title="2" style="border-width: 0px; display: none;"><img id="staron-A{{ liste.id }}-2" src="{{ asset('assets/images/staron.gif') }}" border="0" title="2" style="border-width: 0px; display: block;"></a></li>
                        <li>
                            <a href="javascript:ChoixSelection('A{{ liste.id }}', '3', '5')" onmouseover="GestionHover('A{{ liste.id }}', '3', '5')"><img id="staroff-A{{ liste.id }}-3" src= "{{ asset('assets/images/staroff.gif') }}" border="0" title="3" style="border-width: 0px; display: none;"><img id="staron-A{{ liste.id }}-3" src="{{ asset('assets/images/staron.gif') }}" border="0" title="3" style="border-width: 0px; display: block;"></a></li>
                        <li>
                            <a href="javascript:ChoixSelection('A{{ liste.id }}', '4', '5')" onmouseover="GestionHover('A{{ liste.id }}', '4', '5')"><img id="staroff-A{{ liste.id }}-4" src= "{{ asset('assets/images/staroff.gif') }}" border="0" title="4" style="border-width: 0px; display: none;"><img id="staron-A{{ liste.id }}-4" src="{{ asset('assets/images/staron.gif') }}" border="0" title="4" style="border-width: 0px; display: block;"></a></li>
                        <li>
                            <a href="javascript:ChoixSelection('A{{ liste.id }}', '5', '5')" onmouseover="GestionHover('A{{ liste.id }}', '5', '5')"><img id="staroff-A{{ liste.id }}-5" src= "{{ asset('assets/images/staroff.gif') }}" border="0" title="5" style="border-width: 0px; display: block;"><img id="staron-A{{ liste.id }}-5" src="{{ asset('assets/images/staron.gif') }}" border="0" title="5" style="border-width: 0px; display: none;"></a></li>
                        <label id="score-A{{ liste.id }}"></label>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('liste_show', { 'id': liste.id }) }}"><button type="button" class="btn btn-info glyphicon glyphicon-search">&nbsp;Afficher</button></a>
                        </li>
                        <li>
                            <a href="{{ path('liste_edit', { 'id': liste.id }) }}"><button type="button" class="btn btn-info glyphicon glyphicon-pencil">&nbsp;Editer</button></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li class="creer_repas">
            <a href="{{ path('liste_new') }}"><button type="button" class="btn btn-success">Créer un nouveau repas</button></a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        // Tableau de memorisation des notes pour chaque liste
        var ArrListeEtoile = new Object();

        //-------------------------------------------------------
        // Gestion de la visibilite des etoiles au survol
        //-------------------------------------------------------
        function GestionHover(idListe, indice, nbEtoile){
            for (i=1; i<= nbEtoile; i++)
            {
                var idoff = "staroff-" + idListe + "-" + i;
                var idon = "staron-" + idListe + "-" + i;

                if(indice == -1)
                {
                    // Sortie du survol de la liste des etoiles
                    if (ArrListeEtoile[idListe] >= i){
                        document.getElementById(idoff).style.display ="none";
                        document.getElementById(idon).style.display ="block";
                    }
                    else{
                        document.getElementById(idoff).style.display ="block";
                        document.getElementById(idon).style.display ="none";
                    }
                }
                else
                {
                    // Survol de la liste des etoiles
                    if(i <= indice){
                        document.getElementById(idoff).style.display ="none";
                        document.getElementById(idon).style.display ="block";
                    }
                    else{
                        document.getElementById(idoff).style.display ="block";
                        document.getElementById(idon).style.display ="none";
                    }
                }
            }
        }

        //-------------------------------------------------------
        // Selection d une note pour une liste
        //-------------------------------------------------------
        function ChoixSelection(idListe, indice, nbEtoile){
            ArrListeEtoile[idListe] = indice;
            var score = "score-" + idListe;
            document.getElementById(score).innerHTML = " " + indice + "/" + nbEtoile;
        }

        //-------------------------------------------------------
        // Creation d une liste de notation unique
        //-------------------------------------------------------
        function CreateListeEtoile(idListe, nbEtoile){
            ArrListeEtoile[idListe] = 0;

            var renduListe = "";
            renduListe += "<div class=\"listeEtoile\" onmouseout=\"GestionHover('" + idListe + "', -1, '" + nbEtoile + "')\">";
            renduListe += "<ul>";

            for(i=1; i<=nbEtoile; i++){
                renduListe += "<li>";
                renduListe += "<a href=\"javascript:ChoixSelection('" + idListe + "', '" + i + "', '" + nbEtoile + "')\" onmouseover=\"GestionHover('" + idListe + "', '" + i + "', '" + nbEtoile + "')\">";
                renduListe += "<img id=\"staroff-" + idListe + "-" + i + "\" src=\"staroff.gif\" border=\"0\" title=\"" + i + "\" style=\"border-width: 0px; display: block;\">";
                renduListe += "<img id=\"staron-" + idListe + "-" + i + "\" src=\"staron.gif\" border=\"0\" title=\"" + i + "\" style=\"border-width: 0px; display: none;\">";
                renduListe += "</a>";
                renduListe += "</li>";
            }

            renduListe += "	</ul>";
            renduListe += "</div>";
            renduListe += "<label id=\"score-" + idListe + "\"></label>";

            document.getElementById(idListe).outerHTML = renduListe;
        }
    </script>
{% endblock %}