{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/stylesheet.css')  }}" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

{% endblock %}

{% block body %}
    <div class="navbar_homepage">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"> <a href="{{ path('listerepas_homepage') }}">Accueil</a> </li>
                    <li> <a href="{{ path('liste_index') }}">Mes repas</a> </li>
                    <li> <a href="#">Mes invités</a> </li>
                </ul>
                <form class="navbar-form navbar-right inline-form">
                    <div class="form-group">
                        <input type="search" class="input-sm form-control" placeholder="Recherche">
                        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <img id="caro_image" src="{{ asset('assets/images/caro.png') }}" alt="caro" />

    <div class="header_menu">
        <img id="iconetoque" src="{{ asset('assets/images/iconetoque.png') }}" alt="iconetoque" />
        <h1>Mes Repas</h1>
    </div>

    <table>
        <thead>
            <tr>
                <th class="colonne_nom">Thème du repas</th>
                <th class="colonne_nom">Date prévue</th>
                <th class="colonne_nom">Description</th>
                <th class="colonne_nom">Mes invités</th>
                <th class="colonne_nom">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for liste in listes %}
            <tr>
                <td>{{ liste.nomRepas }}</td>
                <td>{% if liste.dateRepas %}{{ liste.dateRepas|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ liste.descriptionRepas }}</td>
                <td>{{ liste.inviteRepas }}</td>
                <td>
                    <ul>
                        <li>

                            <a href="{{ path('liste_show', { 'id': liste.id }) }}"><button type="button" class="btn btn-info glyphicon glyphicon-search">&nbsp;Afficher</button></a>
                        </li>
                        <li>
                            <a href="{{ path('liste_edit', { 'id': liste.id }) }}"><button type="button" class="btn btn-info glyphicon glyphicon-pencil">&nbsp;Editer</button></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li id="creer_repas">
            <a href="{{ path('liste_new') }}"><button type="button" class="btn btn-success">Créer un nouveau repas</button></a>
        </li>
    </ul>

{% endblock %}


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}