{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/stylesheet.css')  }}" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    <h1>Je crée mon nouveau repas :</h1>

    {{ form_start(form) }}
    <div class="formulaire">
        {{ form_widget(form) }}

        <input type="submit" value="Create" />`
    </div>
    <a data-toggle="modal" href="#infos" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>
        Supprimer
    </a>

    <div class="modal fade" id="infos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    Etes-vous sur de vouloir supprimer cet article ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">OUI</button>
                    <button class="btn btn-info" data-dismiss="modal">NON</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(delete_form) }}


    <ul>
        <li>
            <a href="{{ path('liste_index') }}"><button type="button" class="btn btn-info">Retour à la  liste</button></a>
        </li>
    </ul>
{% endblock %}
