{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css')  }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/stylesheet.css')  }}" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

{% endblock %}
{% block body %}
    <div class="navbar_homepage">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"> <a href="{{ path('listerepas_homepage') }}">Accueil</a> </li>
                    <li> <a href="{{ path('liste_index') }}">Mes repas</a> </li>
                    <li> <a href="">Mes invités</a> </li>
                    <li> <a href="{{ path('creationplat_index') }}">Mes recettes</a> </li>
                </ul>
                <form class="navbar-form navbar-right inline-form">
                    <div class="form-group">
                        <input type="search" class="input-sm form-control" placeholder="Recherche">
                        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <h1>liste</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ liste.id }}</td>
            </tr>
            <tr>
                <th>Nomrepas</th>
                <td>{{ liste.nomRepas }}</td>
            </tr>
            <tr>
                <th>Daterepas</th>
                <td>{% if liste.dateRepas %}{{ liste.dateRepas|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descriptionrepas</th>
                <td>{{ liste.descriptionRepas }}</td>
            </tr>
            <tr>
                <th>Inviterepas</th>
                <td>{{ liste.inviteRepas }}</td>
            </tr>
        </tbody>
    </table>

        <li>
            <a href="{{ path('liste_index') }}"><button type="button" class="btn btn-info">Retour à la  liste</button></a>
            </li>
        <li>
            <a href="{{ path('liste_edit', { 'id': liste.id }) }}"><button type="button" class="btn btn-info glyphicon glyphicon-pencil">&nbsp;Editer</button></a>
        </li>

            <button data-toggle="modal" class="btn btn-danger" data-target="#infos">
                <i class="glyphicon glyphicon-trash"></i>
                Supprimer
            </button>

            <div class="modal fade" id="infos">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">x</button>
                            <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            Etes-vous sur de vouloir supprimer cet article ?
                        </div>
                        <div class="modal-footer">
                            {{ form_start(delete_form) }}
                            <button type="submit" value="OUI" class=" btn btn-info">OUI</button>
                            {{ form_end(delete_form) }}
                            <button class="btn btn-info" data-dismiss="modal">NON</button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

